# 1. Ignore EVERYTHING
*

# 2. But, unignore all directories
# This is crucial so Git can still look inside folders
!*/

# 3. And, unignore all files that have an extension
!*.*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# unwanted folders that are generated in mac
**/*.dSYM/
**/.DS_Store

# C++ Module intermediate file
*.pcm